<div class="dialog">
  <div class="dialog-header"> Choose Category </div>
  <form class="form">
    <mat-form-field class="form-field">
      <mat-label>Select a Category</mat-label>
      <mat-select [(value)]="chosenCategory" (selectionChange)="onCategorySelected()" [compareWith]="compareCategories">
        <mat-option [value]="undefined">None</mat-option>
        <mat-option *ngFor="let cat of mainCategory" [value]="cat">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Select a Subcategory</mat-label>
      <mat-select [(value)]="chosenSubCategory" [disabled]="!chosenCategory || chosenCategory.name === ''">
        <mat-option *ngFor="let subcat of subCategory" [value]="subcat">{{subcat.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="split-amount" *ngIf="!(data.size>=1) && data.splitBol">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Amount</mat-label>
        <input matInput>
        <mat-icon matSuffix>payments</mat-icon>
      </mat-form-field>
      <div class="split-text">
        Add category
        <button mat-icon-button color="accent">
          <mat-icon class="add">add</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="onSubmit()" [disabled]="!chosenCategory || chosenCategory.name === ''">Submit</button>
  </div>
</div>