.app{
    background-color: #c9c9c981;
    height: auto;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 1020px) {
    .app{
        max-width: 100vw;
        justify-content: center;
    }
}