<div class="navigation"  [formGroup]="dateForm">
    <div class="nav-item" routerLink="/">
        <div class="nav-text">Financial Overview</div>
        <img class="strelica" src="../../assets/white.png" alt="strelica" />
    </div>
    <div class="nav-item" routerLink="/spending">
        <div class="nav-text">Spending by Category</div>
        <img class="strelica" src="../../assets/white.png" alt="strelica" />
    </div>
    <div class="dividerText">Period</div>

    <div class="divider">
        <div class="dividerBold"></div>
        <div class="dividerLight"></div>
    </div>
    <div class="dividerText">From: </div>
    <mat-form-field class="date">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fromDate" name="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="dividerText">To: </div>
    <mat-form-field class="date">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="toDate" name="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button mat-stroked-button class="filter_b" (click)="filterData()">Filter</button>
    <a class="reset" (click)="reset()">Reset</a>
</div>